body {
	font-family: 'Poppins', sans-serif;
}
.headline {
	font-family: 'Pacifico', serif;
}
.ayah {
	font-family: 'Amiri', serif;
}
.masonry {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}
